body{
    margin: 0;
    padding: 0;
}

header {
    background: rgb(236, 233, 233);
    height: 6em;;
}

ul {
    display: inline-flex;
}

li{
    padding: 0 2em;
    list-style: none;
    margin-top: 2em;
}
.logo{
    margin-right: 50em;
    margin-left: 5em;

}